*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 7rem;
}

header a {
  text-decoration: none;
}

header > a {
  font-size: 24px;
  color: #f9faf8;
}

header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 40%;
}

h2 {
  text-align: center;
}

section {
  padding: 2.5rem;
}

footer {
  font-size: 0.7rem;
  text-align: center;
  color: white;
  padding: 1.5rem;
}

.background-dark {
  background: #1f2937;
}

.hero {
  font-size: 18px;
  color: #e5e7eb;
}

header a,
.hero p {
  color: #e5e7eb;
}

.gallery {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
  padding: 0 5rem;
  font-size: 0.65rem;
  font-weight: 100;
}

.gallery div {
  width: 130px;
}

.gallery img {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 5px;
}

.gallery p {
  padding: 0;
  margin: 0;
}

.quote {
  font-style: italic;
  font-weight: 100;
}

.quote p {
  text-align: end;
  font-style: normal;
  font-size: 0.75rem;
}

.action-call {
  display: flex;
  justify-content: space-around;
}

.action-call button,
.hero .button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #3882f6;
  padding: 0 2em;
  color: white;
}

.action-call {
  padding: 2.5rem;
  color: white;
  background-color: #3882f6;
  border-radius: 5px;
  font-size: 0.8rem;
}

.action-call h4,
.action-call p {
  margin: 0;
  padding: 0;
}

.action-call p {
  font-size: 0.7rem;
}

#hero-section {
  display: flex;
  padding: 3.5rem 7rem;
  justify-content: center;
  align-items: center;
}

#hero-content {
  flex: 1 1 50%;
}

#hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 0.9;
}

#hero-content p {
  padding: 0.5rem 0;
  line-height: 1.25;
  margin-bottom: 0.35rem;
}

#hero-content .button {
  text-decoration: none;
  border: none;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

#hero-img {
  padding: 0;
  flex: 1 1 50%;
}

#hero-img img {
  display: inline-block;
  width: 100%;
}

#info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

#quote {
  background-color: #e5e7eb;
  padding: 3rem 10rem;
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}
